<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card bg-black text-white">
      <div class="card-header pt-5">
        <h4 class="text-center">
          Account Register
        </h4>
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="mb-3">
            <label for="name">Full Name:</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              name="fullName"
              placeholder="Full Name"
              value="{{fullName}}"
            />
          </div>
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control bg-dark text-white"
              name="email"
              placeholder="Email"
              value="{{email}}"
            />
          </div>
          <div class="mb-3">
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="password"
              placeholder="Password"
              value="{{password}}"
            />
          </div>
          <div class="mb-3">
            <label for="confirm_password">Confirm Password:</label>
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="confirm_password"
              placeholder="Confirm Password"
              value="{{confirm_password}}"
            />
          </div>
          <div class="mb-3">
            <label for="age">Age:</label>
            <input
              type="number"
              class="form-control bg-dark text-white"
              name="age"
              placeholder="Age"
              value="{{age}}"
            />
          </div>
          <div class="mb-3">
            <label for="city">City:</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              name="city"
              placeholder="City"
              value="{{address.city}}"
            />
          </div>
          <div class="mb-3">
            <label for="state">State:</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              name="state"
              placeholder="State"
              value="{{address.state}}"
            />
          </div>
          <div class="mb-3">
            <label for="country">Country:</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              name="country"
              placeholder="Country"
              value="{{address.country}}"
            />
          </div>
          <div class="mb-3">
            <label for="longitude">Longitude:</label>
            <input
              type="number"
              class="form-control bg-dark text-white"
              name="longitude"
              placeholder="Longitude"
              value="{{location.longitude}}"
            />
          </div>
          <div class="mb-3">
            <label for="latitude">Latitude:</label>
            <input
              type="number"
              class="form-control bg-dark text-white"
              name="latitude"
              placeholder="Latitude"
              value="{{location.latitude}}"
            />
          </div>
          <button class="btn btn-success btn-block">
            Signup
          </button>
        </form>
      </div>
      <p class="text-center">Already have an account?
        <a href="/auth/login" class="text-info">Login</a>
      </p>
    </div>
  </div>
</div>
